* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #161513;
  color: #fff;
  font-family: "Outfit";
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b923e1;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: #b923e1;
  }
}

.title-box {
  position: relative;
}

.title-box h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}

.title-box img {
  position: absolute;
  width: 160px;
  bottom: 0;
  right: 0;
  z-index: -1;
}
